@import url('http://fonts.googleapis.com/css?family=Wire+One|Six+Caps');

body, td
{
  font-family: Arial, Sans;
  font-size: 10pt;
}

.title {
  font-family: 'Wire One', sans-serif;
  font-weight: normal;
}

a img
{
  border: none;
}

img {
  vertical-align: middle;
}

form
{
  margin: 0px;
}

input, textarea
{
  border: 1px solid #cccccc;
}

input[type="button"], input[type="submit"], button
{
  background-image: url('./images/button-bg.jpeg');
  background-position: center center;
}

input[type="button"]:focus, input[type="submit"]:focus, button:focus
{
  border: 1px solid #000;
}

.clear
{
  clear: both;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis.multiline {
  white-space: normal;
}
